
<div class="div" #content *ngIf="language === 'English'">
  <div class="container">
    <div id="content">
      <div class="header">
        <div><img width="auto" src="../assets/logo.svg" alt="img" /></div>
        <div class="title">
          <h4>Baankii Hojii Gamtaa Oromiyaa</h4>
          <h6>የኦሮሚያ ኅብረት ሥራ ባንክ</h6>
        </div>

        <div class="photo-container md:w-1/2 m-4">
          <div class="photo-preview">
            <img
              *ngIf="imageURL; else noImage"
              [src]="imageURL"
         
            />
            <ng-template #noImage> </ng-template>
          </div>
          <div class="form-group" *ngIf="!hideFileInput">
            <input
              ngModel
              required
              type="file"
              class="form-control"
              class="noPrint"
              id="photo"
              name="photo"
              accept="image/*"
              (change)="onFileSelected($event)"
              [required]="true"
            />
          </div>
        </div>
      </div>
<div class="temp">
<div class="changeLanguage" >

  <div class="date" style="margin-left: 70%; text-decoration: underline">
    <div class="flex"></div><label for="date">ቀን :</label>
    <input
      type="date"
      name="date"
      id="date"
      style="text-decoration: underline; display: flexbox"
    />
  </div>
  <h4 style="text-decoration: underline; text-align: center">
    የአካውንት መክፈቻ ፎርም
  </h4>

  <form #kycForm="ngForm">
    <div class="flex"></div><label for="branch"> የባንክ ቅርንጫፍ  </label>
    <input
      ngModel
      required
      id="branch"
      type="text"
      name="branch"
      maxlength="100"
      style="width: 200px"
    /><br>
  
    <div class="flex"></div><label for="fullName">
      ስም ከነ አያት/የድርጅት ስም :
    </label>
    <input
      ngModel
      required
      type="text"
      id="fullName"
      name="fullName"
      style="width: 500px"
    /><br />

    <div class="flex"></div><label for="mother">
      የእናት ስም :
    </label>
    <input
      ngModel
      required
      type="text"
      id="mother"
      name="mother"
      style="width: 500px"
    /><br />

    <div class="flex1"><label for="accountNumber"> የባንክ ሂሣብ ቁጥር : </label>
      <input
        ngModel
        required
        type="text"
        id="accountNumber"
        name="accountNumber"
        style="width: 180px"
      /></div>
    
    
    
    <div class="flex2">

      <label for="customerNumber"> የደንበኛው መለያ ቁጥር : </label
        ><input
          ngModel
          required
          type="text"
          id="customerNumber"
          name="customerNumber"
          style="width: 140px"
        />
    </div>
      <div class="flex1"><label for="region"> Rክልል/ግዛት : </label>
        <input ngModel required type="text" name="region" id="region"Galii Wag.Giddugaleessaa/></div>
    <div class="flex2"><label for="city"> ከተማ : </label>
    <input ngModel required type="text" name="city" id="city"style="" /></div>

    <div class="flex1">
      <label for="subCity"> ክ/ከተማ : </label>
    <input
      ngModel
      required
      type="text"
      name="subCity"
      id="subCity"
 
    />
    </div>
    <div class="flex2">
      <label for="kebele">  ቀበሌ/ወረዳ : </label>
      <input
        ngModel
        required
        type="text"
        name="kebele"
        id="kebele"
        style="width: 140px"
      />

    </div>

    <div class="flex1">
      <label for="houseNo"> የቤትቁ: </label>
      <input
        ngModel
        required
        type="text"
        name="houseNo"
        id="houseNo"
   
      />

    </div>
    <div class="flex2"><label for="posta">  የፖ.ሣ.ቁ. </label>
    <input
      ngModel
      required
      type="text"
      name="posta"
      id="posta"
 
    /></div>
    <div class="flex1">
      <label for="telephone">  የቤት ስልክ :</label
        ><input
          ngModel
          required
          type="text"
          name="telephone"
          id="telephone"
          
        />

    </div>
    
    
    
   
    <div class="flex2">

      <label for="mobileNumber"> የተንቀሳቃሽ ስልክ : </label>
    <input
      ngModel
      required
      type="text"
      id="mobileNumber"
      name="mobileNumber"
      
    />
    </div>

    <div class="flex1">
      <label for="officeTelephone">  የቢሮ ስልክ :</label>
      <input
        ngModel
        required
        type="text"
        id="officeTelephone"
        name="officeTelephone"
        
      />

    </div>
  
    <div class="flex2">
      <label for="email">  ኢ-ሜይል : </label>
      <input
        ngModel
        required
        id="email"
        type="text"
        name="email"
        style="width: 250px"
      />
  

    </div>
    <div class="flex1">

      <label for="idNo"> የመ. ዓይነት :</label>
    <input
      ngModel
      required
      type="text"
      name="idNo"
      id="idNo"
 
    />
    </div>
    <div class="flex2"><label for="idRegistrationNumber">
      የመ.ቁ. /የምዝገባ ቁ.
    </label>
    <input
      ngModel
      required
      type="text"
      id="idRegistrationNumber"
      name="idRegistrationNumber"
      style="width: 170px"
    /></div>
  
    <div class="flex"><label for="issuedBy"> የሰጠው አካል : </label>
    <input
      ngModel
      required
      type="text"
      name="issuedBy"
      id="issuedBy"
      style="width: 500px"
    /></div>
    <div class="flex1"><label for="tillNo"> ታ.መ.ቁ.</label>
      <input
        ngModel
        required
        type="text"
        name="tillNo"
        id="tillNo"
       
      /></div>

    <div class="flex2"><label for="gender"> ጾታ :</label>
    <select name="gender" id="gender">
      <option value="male" id="male" name="male" [selected]="true">
        &nbsp;&nbsp;ወንድ&nbsp;&nbsp;
      </option>
      <option value="female">&nbsp;&nbsp;ሴት&nbsp;&nbsp;</option>
    </select></div><br>



    <div class="flex1">
      <label for="nationality"> ዜግነት :</label>
    <input
      
      required
      type="text"
      name="nationality"
      id="nationality"
      

  
    />
    </div>

    
    <div class="flex2">
      <label for="occupation">የሥራ ዓይነት :</label>
      <input
      
        required
        type="text"
        name="occupation"
        id="occupation"
      
      /></div>
    
    <div class="flex1"> <label for="dob">የትውልድ ቀን :</label>
      <input ngModel required type="date" name="dob" id="dob" /></div>

    <div class="flex2"><label for="oes">የድርጅት ምስረታ ቀን :</label>
    <input
      ngModel
      required
      type="date"
      name="oes"
      id="oes"
 
    /></div>
    

    <div class="flex"><label for="employer"> ቀጣሪ ድርጅት :</label>
      <input
        ngModel
        required
        type="text"
        name="employer"
        id="employer"
        style="width: 400px"
      /></div>

    <div class="flex1"><label for="monthlyIncome"> ወርሀዊ ገቢ :</label>
    <input
      ngModel
      required
      type="text"
      name="monthlyIncome"
      id="monthlyIncome"
 
    /></div>
    <div class="flex2"><label for="annualIncome"> ዓመታዊ ገቢ  :</label>
      <input
        ngModel
        required
        type="text"
        name="annualIncome"
        id="annualIncome"
   
      /></div>

    <div class="flex"><label for="accountType"> የሂሳቡ ዓይነት : </label>
      <select id="accountType" name="accountType">
        <option value="saving" id="saving" [selected]="true">&nbsp;&nbsp;Saving&nbsp;&nbsp;</option>
        <option value="saving">&nbsp;&nbsp;Mobile Wallet&nbsp;&nbsp;</option>
        <option value="saving">&nbsp;&nbsp;Cheque&nbsp;&nbsp;</option>
      </select></div>
    <div ><br>
      ፊርማ : _______________________&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;_______________________ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;_______________________
    </div>

    <div class="joint" *ngIf="!hideJoint" ngModel>
      <h6 style="font-size: small">
        አካውንት በጋራ  ለመክፈት
      </h6>
      <p
        style="
          text-align: center;
          text-decoration: underline;
          font-size: smaller;
          font-weight: bold;
        "
      >
      2ኛ አመልካች
      </p>
      <div class="flex"></div><label for="fullName1">
          ስም ከነ አያት/የድርጅት ስም:
      </label>
      <input
        ngModel
        required
        type="text"
        id="fullName1"
        name="fullName1"
        style="width: 500px"
      /><br />

      <div class="flex"></div><label for="fullName1">
          የእናት ስም :
      </label>
      <input
        ngModel
        required
        type="text"
        id="mother1"
        name="mother1"
        style="width: 500px"
      /><br />
  
      
      
     
        <div class="flex1"><label for="region1"> ክልል/ግዛት : </label>
          <input ngModel required type="text" name="region" id="region1"Galii Wag.Giddugaleessaa/></div>
      <div class="flex2"><label for="city1"> ከተማ : </label>
      <input ngModel required type="text" name="city" id="city1"style="" /></div>
  
      <div class="flex1">
        <label for="subCity1"> ክ/ከተማ : </label>
      <input
        ngModel
        required
        type="text"
        name="subCity1"
        id="subCity1"
   
      />
      </div>
      <div class="flex2">
        <label for="kebele1"> ቀበሌ/ወረዳ : </label>
        <input
          ngModel
          required
          type="text"
          name="kebele1"
          id="kebele"
          style="width: 140px"
        />

      </div>
  
      <div class="flex1">
        <label for="houseNo1"> የቤትቁ. </label>
        <input
          ngModel
          required
          type="text"
          name="houseNo1"
          id="houseNo1"
     
        />

      </div>
      <div class="flex2"><label for="posta1">  የፖ.ሣ.ቁ.  </label>
      <input
        ngModel
        required
        type="text"
        name="posta"
        id="posta1"
   
      /></div>
      <div class="flex1">
        <label for="telephone1">   የቤት ስልክ :  </label
          ><input
            ngModel
            required
            type="text"
            name="telephone1"
            id="telephone1"
            
          />

      </div>
      
      
      
     
      <div class="flex2">

        <label for="mobileNumber1"> የተንቀሳቃሽ ስልክ :</label>
      <input
        ngModel
        required
        type="text"
        id="mobileNumber1"
        name="mobileNumber"
        
      />
      </div>
  
      <div class="flex1">
        <label for="officeTelephone1"> የቢሮ ስልክ :</label>
        <input
          ngModel
          required
          type="text"
          id="officeTelephone1"
          name="officeTelephone"
          
        />

      </div>
    
      <div class="flex2">
        <label for="email1">  ኢ-ሜይል :</label>
        <input
          ngModel
          required
          id="email1"
          type="text"
          name="email"
          style="width: 250px"
        />
    

      </div>
      <div class="flex1">

        <label for="idNo1"> የመ. ዓይነት :</label>
      <input
        ngModel
        required
        type="text"
        name="idNo"
        id="idNo1"
   
      />
      </div>
      <div class="flex2"><label for="idRegistrationNumber1">
          የመ.ቁ. /የምዝገባ ቁ./ID No. 
      </label>
      <input
        ngModel
        required
        type="text"
        id="idRegistrationNumber1"
        name="idRegistrationNumber"
        style="width: 170px"
      /></div>
    
      <div class="flex"><label for="issuedBy1"> የሰጠው አካል : </label>
      <input
        ngModel
        required
        type="text"
        name="issuedBy"
        id="issuedBy1"
        style="width: 500px"
      /></div>
      <div class="flex1"><label for="tillNo1">  ታ.መ.ቁ. </label>
        <input
          ngModel
          required
          type="text"
          name="tillNo"
          id="tillNo1"
         
        /></div>
  
      <div class="flex2"><label for="gender1"> ጾታ :   </label>
      <select name="gender" id="gender1">
        <option value="male" id="male" name="male" [selected]="true">
          &nbsp;&nbsp;ወንድ&nbsp;&nbsp;
        </option>
        <option value="female">&nbsp;&nbsp;ሴት&nbsp;&nbsp;</option>
      </select></div><br>



      <div class="flex1">
        <label for="nationality1"> ዜግነት : </label>
      <input
        
        required
        type="text"
        name="nationality"
        id="nationality1"
        
 
    
      />
      </div>

      
      <div class="flex2">
        <label for="occupation1">የሥራ ዓይነት :</label>
        <input
        
          required
          type="text"
          name="occupation"
          id="occupation1"
        
        /></div>
      
      <div class="flex1"> <label for="dob1">የትውልድ ቀን :</label>
        <input ngModel required type="date" name="dob" id="dob1" /></div>
  
      <div class="flex2"><label for="oes1">የድርጅት ምስረታ ቀን :</label>
      <input
        ngModel
        required
        type="date"
        name="oes"
        id="oes1"
   
      /></div>
      
  
      <div class="flex"><label for="employer1"> ቀጣሪ ድርጅት :</label>
        <input
          ngModel
          required
          type="text"
          name="employer"
          id="employer1"
          style="width: 400px"
        /></div>
  
      <div class="flex1"><label for="monthlyIncome1"> ወርሀዊ ገቢ :</label>
      <input
        ngModel
        required
        type="text"
        name="monthlyIncome"
        id="monthlyIncome1"
   
      /></div>
      <div class="flex2"><label for="annualIncome1"> ዓመታዊ ገቢ :</label>
        <input
          ngModel
          required
          type="text"
          name="annualIncome"
          id="annualIncome1"
     
        /></div>
     
      <div ><br>
        ፊርማ : _______________________&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;_______________________ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;_______________________
      </div>

      <p
        style="
          text-align: center;
          text-decoration: underline;
          font-size: smaller;
          font-weight: bold;
        "
      >
      3ኛ አመልካች
      </p>
      <div class="flex"></div><label for="fullName2">
          ስም ከነ አያት/የድርጅት ስም:
      </label>
      <input
        ngModel
        required
        type="text"
        id="fullName2"
        name="fullName1"
        style="width: 500px"
      /><br />

      <div class="flex"></div><label for="mother2">
          የእናት ስም :
      </label>
      <input
        ngModel
        required
        type="text"
        id="mother2"
        name="mother1"
        style="width: 500px"
      /><br />
  
     
        <div class="flex1"><label for="region2"> ክልል/ግዛት : </label>
          <input ngModel required type="text" name="region" id="region2"Galii Wag.Giddugaleessaa/></div>
      <div class="flex2"><label for="city2"> ከተማ : </label>
      <input ngModel required type="text" name="city" id="city2"style="" /></div>
  
      <div class="flex1">
        <label for="subCity2"> ክ/ከተማ : </label>
      <input
        ngModel
        required
        type="text"
        name="subCity1"
        id="subCity2"
   
      />
      </div>
      <div class="flex2">
        <label for="kebele2"> ቀበሌ/ወረዳ : </label>
        <input
          ngModel
          required
          type="text"
          name="kebele1"
          id="kebele2"
          style="width: 140px"
        />

      </div>
  
      <div class="flex1">
        <label for="houseNo2"> የቤትቁ. </label>
        <input
          ngModel
          required
          type="text"
          name="houseNo1"
          id="houseNo2"
     
        />

      </div>
      <div class="flex2"><label for="posta2">  የፖ.ሣ.ቁ.  </label>
      <input
        ngModel
        required
        type="text"
        name="posta"
        id="posta2"
   
      /></div>
      <div class="flex1">
        <label for="telephone2">   የቤት ስልክ :  </label
          ><input
            ngModel
            required
            type="text"
            name="telephone1"
            id="telephone2"
            
          />

      </div>
      
      
      
     
      <div class="flex2">

        <label for="mobileNumber2"> የተንቀሳቃሽ ስልክ :</label>
      <input
        ngModel
        required
        type="text"
        id="mobileNumber2"
        name="mobileNumber"
        
      />
      </div>
  
      <div class="flex1">
        <label for="officeTelephone2"> የቢሮ ስልክ :</label>
        <input
          ngModel
          required
          type="text"
          id="officeTelephone2"
          name="officeTelephone"
          
        />

      </div>
    
      <div class="flex2">
        <label for="email2">  ኢ-ሜይል :</label>
        <input
          ngModel
          required
          id="email2"
          type="text"
          name="email"
          style="width: 250px"
        />
    

      </div>
      <div class="flex1">

        <label for="idNo2"> የመ. ዓይነት :</label>
      <input
        ngModel
        required
        type="text"
        name="idNo"
        id="idNo2"
   
      />
      </div>
      <div class="flex2"><label for="idRegistrationNumber2">
          የመ.ቁ. /የምዝገባ ቁ./ID No. 
      </label>
      <input
        ngModel
        required
        type="text"
        id="idRegistrationNumber2"
        name="idRegistrationNumber"
        style="width: 170px"
      /></div>
    
      <div class="flex"><label for="issuedBy2"> የሰጠው አካል : </label>
      <input
        ngModel
        required
        type="text"
        name="issuedBy"
        id="issuedBy2"
        style="width: 500px"
      /></div>
      <div class="flex1"><label for="tillNo2">  ታ.መ.ቁ. </label>
        <input
          ngModel
          required
          type="text"
          name="tillNo"
          id="tillNo2"
          
        /></div>
  
      <div class="flex2"><label for="gender2"> ጾታ :   </label>
      <select name="gender" id="gender2">
        <option value="male" id="male" name="male" [selected]="true">
          &nbsp;&nbsp;ወንድ&nbsp;&nbsp;
        </option>
        <option value="female">&nbsp;&nbsp;ሴት&nbsp;&nbsp;</option>
      </select></div><br>



      <div class="flex1">
        <label for="nationality2"> ዜግነት : </label>
      <input
        
        required
        type="text"
        name="nationality"
        id="nationality2"
        
 
    
      />
      </div>

      
      <div class="flex2">
        <label for="occupation2">የሥራ ዓይነት :</label>
        <input
        
          required
          type="text"
          name="occupation"
          id="occupation2"
        
        /></div>
      
      <div class="flex1"> <label for="dob2">የትውልድ ቀን :</label>
        <input ngModel required type="date" name="dob" id="dob2" /></div>
  
      <div class="flex2"><label for="oes2">የድርጅት ምስረታ ቀን :</label>
      <input
        ngModel
        required
        type="date"
        name="oes"
        id="oes2"
   
      /></div>
      
  
      <div class="flex"><label for="employer2"> ቀጣሪ ድርጅት :</label>
        <input
          ngModel
          required
          type="text"
          name="employer"
          id="employer2"
          style="width: 400px"
        /></div>
  
      <div class="flex1"><label for="monthlyIncome2"> ወርሀዊ ገቢ :</label>
      <input
        ngModel
        required
        type="text"
        name="monthlyIncome"
        id="monthlyIncome2"
   
      /></div>
      <div class="flex2"><label for="annualIncome2"> ዓመታዊ ገቢ :</label>
        <input
          ngModel
          required
          type="text"
          name="annualIncome"
          id="annualIncome2"
     
        /></div>
  
       
        <div >
          ፊርማ : _______________________&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;_______________________ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;_______________________
        </div>
        <h4>የሂሣብ የማንቀሳቀሻ ትዕዛዝ :</h4>

        <div class="opInstruction">
          <div class="opInstructionBox">
            በአንድ ፊርማ የሚንቀሳቀስ :
            <input
              ngModel
              required
              type="checkbox"
              name="Individual"
              id="Individual"
            />
            <div class="opSignature">ፊርማ :______________</div>
          </div>
          <div class="opInstructionBox">
            በጋራ የሚንቀሳቀስ :
            <input
              ngModel
              required
              type="checkbox"
              name="Individual"
              id="Individual"
              checked
            />
            <div class="opSignature">ፊርማ :_______________</div>
          </div>
          <div class="opInstructionBox">
            የተለየ ትዕዛዝ :
            <input
              ngModel
              required
              type="checkbox"
              name="Individual"
              id="Individual"
              
            />
            <div class="opSignature">ፊርማ :_______________</div>
          </div>
        </div>
      </div>
     

      <div class="card">
        <h4>
          የሚፈልጉትን የኢ-ፐይመንት አገልግሎት ይምረጡ
        </h4>
      

        <div class="E-payments"> 
          <label for="atm">ኤ.ቲ.ኤም ካርድ</label> <select name="atm" id="atm">
            <option value="yes"> &nbsp;&nbsp;እፈልጋለሁ&nbsp;&nbsp;&nbsp;&nbsp;</option>
            <option value="no"> &nbsp;&nbsp;አልፈልግም&nbsp;&nbsp;&nbsp;&nbsp;</option>
          </select>
       
     <label for="internet">ኤሞባይል ባንኪንግ</label> <select name="internet" id="internet">
            <option value="yes">&nbsp;&nbsp;እፈልጋለሁ&nbsp;&nbsp;&nbsp;&nbsp;</option>
            <option value="no">&nbsp;&nbsp;አልፈልግም&nbsp;&nbsp;&nbsp;&nbsp;</option>
          </select>
   
          <label for="internet">ኢንተርኔት ባንክ</label> <select name="internet" id="internet">
            <option value="yes">&nbsp;&nbsp;እፈልጋለሁ&nbsp;&nbsp;&nbsp;&nbsp;</option>
            <option value="no">&nbsp;&nbsp;አልፈልግም&nbsp;&nbsp;&nbsp;&nbsp;</option>
          </select>
        </div><br>
        <div class="flex1"><label for="initial">የመጀመሪያ ተቀማጭ :</label>
        <input
          ngModel
          required
          type="text"
          name="initial"
          id="initial"
     
        /></div>
        <div class="flex2"><label for="existing"> ነባር ሂሳብ :</label>
       

        <select name="existing" id="existing">
          <option value="yes">&nbsp;&nbsp;አዎ</option>
          <option value="no">&nbsp;&nbsp;አይ</option>
        </select></div>
        
      </div>
    </form>
    <div class="signature"><br>
      ሂሳቡን የከፈተችው/ው ስም እና ፊርማ :
      _________________________________________ <br /><br />
      ሂሳቡን ያረጋገጠችው/ው ስም እና ፊርማ :
      _________________________________________  <br /><br />

      የቅርንጫፍ ተቆጣጣሪዋ/ው ስም እና ፊርማ :
      _________________________________________
    </div>



    

<button class="btn1" *ngIf="!hideFileInput" (click)="onPrint($event)">
Print
</button>
<button
class="btn2"
type="button"
*ngIf="!hideFileInput"
ngModel
(click)="onChangeButton()"
>
ፎርም ጨምር
</button>



</div>
</div>
</div>


</div>
