
<div class="div" #content *ngIf="language === 'English'">
  <div class="container">
    <div id="content">
      <div class="header">
        <div><img width="auto" src="../assets/logo.svg" alt="img" /></div>
        <div class="title">
          <h4>Baankii Hojii Gamtaa Oromiyaa</h4>
          <h6>የኦሮሚያ ኅብረት ሥራ ባንክ</h6>
        </div>

        <div class="photo-container md:w-1/2 m-4">
          <div class="photo-preview">
            <img
              *ngIf="photoURLArray[0]; else noImage"
              [src]="photoURLArray[0]"
         
            />
            <ng-template #noImage> </ng-template>
          </div>
          <div class="form-group" *ngIf="!hideFileInput">
            <input
              ngModel
              required
              type="file"
              class="form-control"
              class="noPrint"
              id="photo0"
              name="photo0"
              accept="image/*"
              (change)="onFileSelected($event,0)"
              [required]="true"
            />
          </div>
        </div>
      </div>
<div class="temp">
<div class="changeLanguage" >

  <div class="date" style="margin-left: 70%; text-decoration: underline">
    <div class="flex"></div><label for="date"> ቀን :</label>
    <input
      type="date"
      name="date"
      id="date"
      style="text-decoration: underline; display: flexbox"
    />
  </div>
  <h4 style="text-decoration: underline; text-align: center">
    የአካውንት መክፈቻ ፎርም
  </h4>

  <form  #kycForm="ngForm">
    <div class="flex"></div><label for="branch"> የባንክ ቅርንጫፍ    </label>
    <input
      ngModel
      required
      id="branch"
      type="text"
      name="branch"
      maxlength="100"
      style="width: 200px"
    /><br>
    <div class="flex1"><label for="accountNumber"> የባንክ ሂሣብ ቁጥር : </label>
      <input
        ngModel
        required
        type="text"
        id="accountNumber"
        name="accountNumber"
        style="width: 180px"
      /></div>
    
    
    
    <div class="flex2">

      <label for="customerNumber"> የደንበኛው መለያ ቁጥር : </label
        ><input
          ngModel
          required
          type="text"
          id="customerNumber"
          name="customerNumber"
          style="width: 140px"
        />
    </div>
    <div class="flex"></div><label for="fullName">
      ስም ከነ አያት/የድርጅት ስም :
    </label>
    <input
      ngModel
      required
      type="text"
      id="fullName"
      name="fullName"
      style="width: 500px"
    /><br />

    <div class="flex"></div><label for="mother">
      የእናት ስም :
    </label>
    <input
      ngModel
      required
      type="text"
      id="mother"
      name="mother"
      style="width: 500px"
    /><br />

  
      <div class="flex1"><label for="region"> ክልል/ግዛት : </label>
        <input ngModel required type="text" name="region" id="region"/></div>
    <div class="flex2"><label for="city"> ከተማ :  </label>
    <input ngModel required type="text" name="city" id="city"style="" /></div>

    <div class="flex1">
      <label for="subCity">  ክ/ከተማ :  </label>
    <input
      ngModel
      required
      type="text"
      name="subCity"
      id="subCity"
 
    />
    </div>
    <div class="flex2">
      <label for="kebele"> ቀበሌ/ወረዳ : </label>
      <input
        ngModel
        required
        type="text"
        name="kebele"
        id="kebele"
        style="width: 140px"
      />

    </div>

    <div class="flex1">
      <label for="houseNo"> የቤትቁ:</label>
      <input
        ngModel
        required
        type="text"
        name="houseNo"
        id="houseNo"
   
      />

    </div>
    <div class="flex2"><label for="posta">  የፖ.ሣ.ቁ. </label>
    <input
      ngModel
      required
      type="text"
      name="posta"
      id="posta"
 
    /></div>
    <div class="flex1">
      <label for="telephone"> የቤት ስልክ :</label
        ><input
          ngModel
          required
          type="text"
          name="telephone"
          id="telephone"
          
        />

    </div>
    
    
    
   
    <div class="flex2">

      <label for="mobileNumber"> የተንቀሳቃሽ ስልክ :  </label>
    <input
      ngModel
      required
      type="text"
      id="mobileNumber"
      name="mobileNumber"
      
    />
    </div>

    <div class="flex1">
      <label for="officeTelephone"> የቢሮ ስልክ : </label>
      <input
        ngModel
        required
        type="text"
        id="officeTelephone"
        name="officeTelephone"
        
      />

    </div>
  
    <div class="flex2">
      <label for="email">   ኢ-ሜይል :  </label>
      <input
        ngModel
        required
        id="email"
        type="text"
        name="email"
        style="width: 250px"
      />
  

    </div>
    <div class="flex1">

      <label for="idNo"> የመ. ዓይነት :</label>
      <select name="ID Type" id="idNo">
        <option  name="kebele_ID" [selected]="true">
          &nbsp;&nbsp;የቀበሌ መታወቂያ
        </option>
        <option value="passport">&nbsp;&nbsp;ፓስፖርት</option>
        <option value="National ID">&nbsp;&nbsp;ብሔራዊ መታወቂያ</option>
      </select>
    </div>
    <div class="flex2"><label for="idRegistrationNumber">
      የመ.ቁ. /የምዝገባ ቁ.
    </label>
    <input
      ngModel
      required
      type="text"
      id="idRegistrationNumber"
      name="idRegistrationNumber"
      style="width: 170px"
    /></div>
  
    <div class="flex"><br><label for="issuedBy"> የሰጠው አካል : </label>
    <input
      ngModel
      required
      type="text"
      name="issuedBy"
      id="issuedBy"
      style="width: 600px"
    /></div>
    <div class="flex1"><label for="tillNo">ታ.መ.ቁ. </label>
      <input
        ngModel
        required
        type="text"
        name="tillNo"
        id="tillNo"
        
      /></div>
     

    <div class="flex2"><label for="gender"> ጾታ : </label>
    <select name="gender" id="gender">
      <option value="male" id="male" name="male" [selected]="true">
        &nbsp;&nbsp;ወንድ
      </option>
      <option value="female">&nbsp;&nbsp;ሴት</option>
    </select></div>



    <div class="flex1">
      <label for="nationality"> ዜግነት : </label>
    <input
      
      required
      type="text"
      name="nationality"
      id="nationality"
      

  
    />
    </div>

    
    <div class="flex2">
      <label for="occupation">የሥራ ዓይነት :</label>
      <input
      
        required
        type="text"
        name="occupation"
        id="occupation"
        style="width: 300px;"
      
      /></div>
    
    <div class="flex1"> <label for="dob">ትውልድ ቀን :</label>
      <input ngModel required type="date" name="dob" id="dob" /></div>

    <div class="flex2"><label for="oes">የድርጅት ምስረታ ቀን :</label>
    <input
      ngModel
      required
      type="date"
      name="oes"
      id="oes"
 
    /></div>
    

    <div class="flex"><label for="employer"> ቀጣሪ ድርጅት :</label>
      <input
        ngModel
        required
        type="text"
        name="employer"
        id="employer"
        style="width: 400px"
      /></div>

    <div class="flex1"><label for="monthlyIncome">  ወርሀዊ ገቢ :</label>
    <input
      ngModel
      required
      type="text"
      name="monthlyIncome"
      id="monthlyIncome"
      style="width: 100px;"
      
 
    /></div>
    <div class="flex2"><label for="annualIncome"> ዓመታዊ ገቢ  : </label>
      <input
        ngModel
        required
        type="text"
        name="annualIncome"
        id="annualIncome"
        style="width: 250px;"
   
      /></div>

    <div class="flex"><label for="accountType">የሂሳቡ ዓይነት :  </label>
      <select id="accountType" name="accountType">
        <option value="saving" id="saving" [selected]="true">&nbsp;&nbsp;Saving</option>
        <option value="saving">&nbsp;&nbsp;Mobile Wallet</option>
        <option value="saving">&nbsp;&nbsp;Cheque</option>
        <option value="saving">&nbsp;&nbsp;Sinqe</option>
        <option value="saving">&nbsp;&nbsp;Game</option>
        <option value="saving">&nbsp;&nbsp;6002 Private Employees' Pension</option>
        <option value="saving">&nbsp;&nbsp;6003 Saving Account Notice AA</option>
        <option value="saving">&nbsp;&nbsp;6004 Children Account Category</option>
        <option value="saving">&nbsp;&nbsp;6005 Saving Account Child AA</option>
        <option value="saving">&nbsp;&nbsp;6006 Non interest bearing sav acct.</option>
        <option value="saving">&nbsp;&nbsp;6007 Non-Repatriable Birr Account</option>
        <option value="saving">&nbsp;&nbsp;6008 ECOLFL Saving</option>
        <option value="saving">&nbsp;&nbsp;6009 Service Ija Special Savings Account</option>
        <option value="saving">&nbsp;&nbsp;6010 DEPOSIT ACCOUNT FOR MORTGAGE</option>
        <option value="saving">&nbsp;&nbsp;6011 Special sav.acct</option>
        <option value="saving">&nbsp;&nbsp;6012 Non Government Organization</option>
        <option value="saving">&nbsp;&nbsp;6013 IFB Association</option>
        <option value="saving">&nbsp;&nbsp;6014 IFB Association</option>
        <option value="saving">&nbsp;&nbsp;6016 Gamme-junior account</option>
        <option value="saving">&nbsp;&nbsp;6017 Farmers Savings Account</option>
        <option value="saving">&nbsp;&nbsp;6021 Youth saving Account</option>
        <option value="saving">&nbsp;&nbsp;6026 Sinqe-women Account</option>
        <option value="saving">&nbsp;&nbsp;6027 Gudunfa Saving Account</option>
        <option value="saving">&nbsp;&nbsp;6028 Employee Institution mortgage savin</option>
        <option value="saving">&nbsp;&nbsp;6029 Gudunfa Gamme - Children's Saving Auint</option>
        <option value="saving">&nbsp;&nbsp;6030 Government Employees' Pension</option>
        <option value="saving">&nbsp;&nbsp;6031 Staff saving account</option>
        <option value="saving">&nbsp;&nbsp;6041 Cash Indemnity account</option>
        <option value="saving">&nbsp;&nbsp;6046 Provident Account</option>
        <option value="saving">&nbsp;&nbsp;6057 IFB Residents of Ethiopia</option>
        <option value="saving">&nbsp;&nbsp;6058 IFB Non Residents of Ethiopia</option>
        <option value="saving">&nbsp;&nbsp;6059 IFB Non Residents of Ethiopn origin</option>
        <option value="saving">&nbsp;&nbsp;6060 Wadiah farmers Savings Account</option>
        <option value="saving">&nbsp;&nbsp;6064 Zakat Wadi'ah saving Account</option>
        <option value="saving">&nbsp;&nbsp;6500 Wadia Saving Account</option>
        <option value="saving">&nbsp;&nbsp;6501 Wadia ECOLFL Saving Account</option>

        <option value="saving">&nbsp;&nbsp;6596 IFB Wakala Investment</option>
        <option value="saving">&nbsp;&nbsp;6502 Diaspora Wadia Saving Account</option>
        <option value="saving">&nbsp;&nbsp;6503 IFB Gudunfa Saving Account</option>
        <option value="saving">&nbsp;&nbsp;6504 Zakkat Account</option>
        <option value="saving">&nbsp;&nbsp;6505 Labbaik Wadia Saving Account</option>
        <option value="saving">&nbsp;&nbsp;6595 IFB DIASPORA TIME DEPOSIT</option>
    
        <option value="saving">&nbsp;&nbsp;6596 IFB Wakala Investment</option>
        <option value="saving">&nbsp;&nbsp;6601 Short Term Fixed Deposit</option>
        <option value="saving">&nbsp;&nbsp;6602 Long Term Fixed Deposit</option>
        <option value="saving">&nbsp;&nbsp;6603 Commitment Savings</option>
        <option value="saving">&nbsp;&nbsp;6604 Floating Rate Time Deposit</option>
        <option value="saving">&nbsp;&nbsp;6605 Fixed Floating Interest Deposit</option>
        <option value="saving">&nbsp;&nbsp;6606 Retail Deposit</option>
        <option value="saving">&nbsp;&nbsp;6607 Recurring Deposit</option>
        <option value="saving">&nbsp;&nbsp;6608 Rollover Deposit</option>
        <option value="saving">&nbsp;&nbsp;6609 Call Deposit</option>
        <option value="saving">&nbsp;&nbsp;6709 AA Savings Plan</option>
        <option value="saving">&nbsp;&nbsp;6999 ***Diaspora saving Acct</option>
       
      </select>
    </div>
    <div ><br><br>
      ፊርማ : _______________________&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;_______________________ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;_______________________
    </div>
<!-- additional pages -->



<div class="onFormNumber" *ngFor="let i of formNumberArray" >
<p style="font-size: small;font-weight: bolder;margin-left: 40%;text-decoration: underline;">
 {{i}}ኛ አመልካች 
</p>

<!-- customer photo -->

<div class="photo-container md:w-1/2 m-4" style="float: left;">
<div class="photo-preview">
  <img
    *ngIf="photoURLArray[i]; else noImage"
    [src]="photoURLArray[i]"

  />
  <ng-template #noImage> </ng-template>
</div>
<div class="form-group" *ngIf="!hideFileInput">
  <input
    ngModel
    required
    type="file"
    class="form-control"
    class="noPrint"
    id="photo{{i}}"
    name="photo{{i}}"
    accept="image/*"
    (change)="onFileSelected($event,i)"

    [required]="true"
  />
</div>
</div>

<!--- end of customer photo-->
<div class="flexBox">



<div class="flex"></div><label for="fullName{{i}}">
  ስም ከነ አያት/የድርጅት ስም:
</label>
<input
  ngModel
  required
  type="text"
  id="fullName{{i}}"
  name="fullName"
  style="width: 300px"
/><br />

<div class="flex"></div><label for="mother{{i}}">
  የእናት ስም :
</label>
<input
  ngModel
  required
  type="text"
  id="mother{{i}}"
  name="mother"
  style="width: 300px"
  
/><br />
<div class="flex1">

  <label for="customerNumber{{i}}"> የደንበኛው መለያ ቁጥር : </label
    ><input
      ngModel
      required
      type="text"
      id="customerNumber{{i}}"
      name="customerNumber"
      style="width: 140px"
    />
</div>


  <div class="flex1"><label for="region{{i}}"> ክልል/ግዛት :  </label>
    <input ngModel required type="text" name="region" id="region{{i}}"Galii Wag.Giddugaleessaa/></div>
  
<div class="flex1" ><label for="city{{i}}">  ከተማ :  </label>
<input ngModel required type="text" name="city" id="city{{i}}"style="" /></div>

<div class="flex1">
  <label for="subCity{{i}}">  ክ/ከተማ :  </label>
<input
  ngModel
  required
  type="text"
  name="subCity"
  id="subCity{{i}}"

/>
</div>
<div class="flex2">
  <label for="kebele{{i}}">ቀበሌ/ወረዳ :  </label>
  <input
    ngModel
    required
    type="text"
    name="kebele"
    id="kebele{{i}}"
    style="width: 140px"
  />

</div>

<div class="flex1">
  <label for="houseNo{{i}}"> የቤትቁ.  </label>
  <input
    ngModel
    required
    type="text"
    name="houseNo"
    id="houseNo{{i}}"

  />

</div>
<div class="flex2"><label for="posta{{i}}">    የፖ.ሣ.ቁ. </label>
<input
  ngModel
  required
  type="text"
  name="posta"
  id="posta{{i}}"

/></div>
<div class="flex1">
  <label for="telephone{{i}}">  የቤት ስልክ : </label
    ><input
      ngModel
      required
      type="text"
      name="telephone"
      id="telephone{{i}}"
      
    />

</div>




<div class="flex2">

  <label for="mobileNumber{{i}}">  የተንቀሳቃሽ ስልክ : </label>
<input
  ngModel
  required
  type="text"
  id="mobileNumber{{i}}"
  name="mobileNumber"
  
/>
</div>

<div class="flex1">
  <label for="officeTelephone{{i}}">  የቢሮ ስልክ :</label>
  <input
    ngModel
    required
    type="text"
    id="officeTelephone{{i}}"
    name="officeTelephone"
    
  />

</div>

<div class="flex2">
  <label for="email{{i}}">  ኢ-ሜይል : </label>
  <input
    ngModel
    required
    id="email{{i}}"
    type="text"
    name="email"
    style="width: 250px"
  />


</div><br><br>
<div class="flex1">

  <label for="idNo{{i}}">የመ. ዓይነት :</label>
  <select name="ID Type" id="idNo{{i}}">
    <option  name="kebele_ID" [selected]="true">
      &nbsp;&nbsp;የቀበሌ መታወቂያ
    </option>
    <option value="National ID">&nbsp;&nbsp;መንጃ ፈቃድ</option>
    <option value="National ID">&nbsp;&nbsp;የሠራተኞች መታወቂያ</option>
    
    <option value="National ID">&nbsp;&nbsp;የተማሪ መታወቂያ</option>
    <option value="passport">&nbsp;&nbsp;ፓስፖርት</option>
    <option value="National ID">&nbsp;&nbsp;ብሔራዊ መታወቂያ</option>
  </select>
</div>
<div class="flex1"><label for="idRegistrationNumber{{i}}">
  የመ.ቁ. /የምዝገባ ቁ./ID No. 
</label>
<input
  ngModel
  required
  type="text"
  id="idRegistrationNumber{{i}}"
  name="idRegistrationNumber"
  style="width: 170px;margin-right: 50%;"
/></div>

<div class="flex"><label for="issuedBy{{i}}">  የሰጠው አካል :</label>
<input
  ngModel
  required
  type="text"
  name="issuedBy"
  id="issuedBy{{i}}"
  style="width: 500px;"
/></div>
<div class="flex1"><label for="tillNo{{i}}">  ታ.መ.ቁ. </label>
  <input
    ngModel
    required
    type="text"
    name="tillNo"
    id="tillNo{{i}}"
    
  /></div>

<div class="flex2"><label for="gender{{i}}"> ጾታ :  </label>
<select name="gender" id="gender{{i}}">
  <option value="male" id="male{{i}}" name="male" [selected]="true">
    &nbsp;&nbsp;ወንድ
  </option>
  <option value="female">&nbsp;&nbsp;ሴት</option>
</select></div><br>



<div class="flex1">
  <label for="nationality{{i}}">  ዜግነት :  </label>
<input
  
  required
  type="text"
  name="nationality"
  id="nationality{{i}}"
  


/>
</div>


<div class="flex2">
  <label for="occupation{{i}}">የሥራ ዓይነት :</label>
  <input
  
    required
    type="text"
    name="occupation"
    id="occupation{{i}}"
    style="width: 300px;"
  /></div>

<div class="flex1"> <label for="dob{{i}}">የትውልድ ቀን :</label>
  <input ngModel required type="date" name="dob" id="dob{{i}}" /></div>

<div class="flex2"><label for="oes{{i}}">የድርጅት ምስረታ ቀን :</label>
<input
  ngModel
  required
  type="date"
  name="oes"
  id="oes{{i}}"

/></div>


<div class="flex"><label for="employer{{i}}"> ቀጣሪ ድርጅት :</label>
  <input
    ngModel
    required
    type="text"
    name="employer"
    id="employer{{i}}"
    style="width: 400px"
  /></div>

<div class="flex1"><label for="monthlyIncome{{i}}"> ወርሀዊ ገቢ :</label>
<input
  ngModel
  required
  type="text"
  name="monthlyIncome"
  id="monthlyIncome{{i}}"
  style="width: 100px;"

/></div>
<div class="flex2"><label for="annualIncome{{i}}"> ዓመታዊ ገቢ :</label>
  <input
    ngModel
    required
    type="text"
    name="annualIncome"
    id="annualIncome{{i}}"
    style="width: 250px;"

  /></div>



</div>

<br>
   <div >
    ፊርማ : _______________________&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;_______________________ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;_______________________
  </div>   
</div>

    

<!-- endof the page -->




  <div *ngIf="!hideJoint">
      <h4> የሂሣብ የማንቀሳቀሻ ትዕዛዝ :</h4>

      <div class="opInstruction">
        <div class="opInstructionBox">
          በአንድ ፊርማ የሚንቀሳቀስ :
          <input
            ngModel
            required
            type="checkbox"
            name="Individual"
            id="Individual"
          />
          <div class="opSignature" style="margin-top: 10px;">ፊርማ :_______________</div>
        </div>
        <div class="opInstructionBox">
          በጋራ የሚንቀሳቀስ :
          <input
            ngModel
            required
            type="checkbox"
            name="Individual"
            id="Individual"
            checked
          />
          <div class="opSignature" style="margin-top: 10px;">ፊርማ :_______________</div>
        </div>
        <div class="opInstructionBox">
          የተለየ ትዕዛዝ :
          <input
            ngModel
            required
            type="checkbox"
            name="Individual"
            id="Individual"
            
          />
          <div class="opSignature" style="margin-top: 10px;">ፊርማ :_______________</div>
        </div>
      </div>
    </div>
  
   


    <div class="card">
      <h4>
        የሚፈልጉትን የኢ-ፐይመንት አገልግሎት ይምረጡ
      </h4>


      <div class="E-payments"> 
        <label for="atm">ኤ.ቲ.ኤም ካርድ</label> <select name="atm" id="atm">
          <option value="yes"> &nbsp;&nbsp;እፈልጋለሁ&nbsp;&nbsp;&nbsp;&nbsp;</option>
          <option value="no"> &nbsp;&nbsp;አልፈልግም&nbsp;&nbsp;&nbsp;&nbsp;</option>
        </select>
    
  
       <label for="internet">ኤሞባይል ባንኪንግ</label> <select name="internet" id="internet">
          <option value="yes">&nbsp;&nbsp;እፈልጋለሁ&nbsp;&nbsp;&nbsp;&nbsp;</option>
          <option value="no">&nbsp;&nbsp;አልፈልግም&nbsp;&nbsp;&nbsp;&nbsp;</option>
        </select>

     
       <label for="internet">ኢንተርኔት ባንክ</label> <select name="internet" id="internet">
          <option value="yes">&nbsp;&nbsp;እፈልጋለሁ&nbsp;&nbsp;&nbsp;&nbsp;</option>
          <option value="no">&nbsp;&nbsp;አልፈልግም&nbsp;&nbsp;&nbsp;&nbsp;</option>
        </select>
      </div><br>
      <div class="flex1"><label for="initial">የመጀመሪያ ተቀማጭ : </label>
      <input
        ngModel
        required
        type="text"
        name="initial"
        id="initial"
        
      /></div>
      <div class="flex1"><label for="existing"> ነባር ሂሳብ :</label>
    

      <select name="existing" id="existing">
        <option value="yes">&nbsp;&nbsp;አዎ&nbsp;&nbsp;&nbsp;&nbsp;</option>
        <option value="no">&nbsp;&nbsp;No&nbsp;&nbsp;&nbsp;&nbsp;</option>
      </select>
      
    </div></div>
  </form><br><br>
  <div class="signature"><br>
    ሂሳቡን የከፈተችው/ው ስም እና ፊርማ :
    _________________________________________ <br /><br />
    ሂሳቡን ያረጋገጠችው/ው ስም እና ፊርማ :
    _________________________________________  <br /><br />

    የቅርንጫፍ ተቆጣጣሪዋ/ው ስም እና ፊርማ :
    _________________________________________
  </div>

</div>


<button class="btn1" *ngIf="!hideFileInput" (click)="onPrint($event)">
  Print
</button>
<div class="cardj" *ngIf="!hideFileInput">

<div class="formNumber" >
  <label for="formNumber" >ቁጥር</label>
      <input type="number" name="formNumber" id="formNumber" style="width: 50px;"   #formNumber >
    </div>
    <button
      class="btn2"
      type="button"
      
      ngModel
      (click)="onChangeButton(formNumber.value)"
    >
    ፎርም ጨምር
    </button>

</div>


</div>
</div>
</div>


</div>
