
<div class="div" #content *ngIf="language === 'English'">
  <div class="container">
    <div id="content">
      <div class="header">
        <div><img width="auto" src="../assets/logo.svg" alt="img" /></div>
        <div class="title">
          <h4>Baankii Hojii Gamtaa Oromiyaa</h4>
          <h6>የኦሮሚያ ኅብረት ሥራ ባንክ</h6>
        </div>

        <div class="photo-container md:w-1/2 m-4">
          <div class="photo-preview">
            <img
              *ngIf="photoURLArray[0]; else noImage"
              [src]="photoURLArray[0]"
         
            />
            <ng-template #noImage> </ng-template>
          </div>
          <div class="form-group" *ngIf="!hideFileInput">
            <input
              ngModel
              required
              type="file"
              class="form-control"
              class="noPrint"
              id="photo0"
              name="photo0"
              accept="image/*"
              (change)="onFileSelected($event,0)"
              [required]="true"
            />
          </div>
        </div>
      </div>
<div class="temp">
<div class="changeLanguage" >

  <div class="date" style="margin-left: 70%; text-decoration: underline">
    <div class="flex"></div><label for="date">guyyaa :</label>
    <input
      type="date"
      name="date"
      id="date"
      style="text-decoration: underline; display: flexbox"
    />
  </div>
  <h4 style="text-decoration: underline; text-align: center">
    Unka Baniinsa Herregaa
  </h4>

  <form  #kycForm="ngForm">
    <div class="flex"></div><label for="branch"> Damee :   </label>
    <input
      ngModel
      required
      id="branch"
      type="text"
      name="branch"
      maxlength="100"
      style="width: 200px"
    /><br>
    <div class="flex1"><label for="accountNumber"> Lakk. Herregaa :</label>
      <input
        ngModel
        required
        type="text"
        id="accountNumber"
        name="accountNumber"
        style="width: 180px"
      /></div>
    
    
    
    <div class="flex2">

      <label for="customerNumber"> Lakk. maamila :</label
        ><input
          ngModel
          required
          type="text"
          id="customerNumber"
          name="customerNumber"
          style="width: 140px"
        />
    </div>
    <div class="flex"></div><label for="fullName">
      Maqaa Guutuu/Maqaa Jaarmiyaa :
    </label>
    <input
      ngModel
      required
      type="text"
      id="fullName"
      name="fullName"
      style="width: 500px"
    /><br />

    <div class="flex"></div><label for="mother">
      Maqaa haadha :
    </label>
    <input
      ngModel
      required
      type="text"
      id="mother"
      name="mother"
      style="width: 500px"
    /><br />

  
      <div class="flex1"><label for="region">  Naannoo : </label>
        <input ngModel required type="text" name="region" id="region"/></div>
    <div class="flex2"><label for="city">Magaalaa :</label>
    <input ngModel required type="text" name="city" id="city"style="" /></div>

    <div class="flex1">
      <label for="subCity"> Magaalaa xiqqaa :</label>
    <input
      ngModel
      required
      type="text"
      name="subCity"
      id="subCity"
 
    />
    </div>
    <div class="flex2">
      <label for="kebele"> Kebele/Woreda </label>
      <input
        ngModel
        required
        type="text"
        name="kebele"
        id="kebele"
        style="width: 140px"
      />

    </div>

    <div class="flex1">
      <label for="houseNo"> Lakk. Mana : </label>
      <input
        ngModel
        required
        type="text"
        name="houseNo"
        id="houseNo"
   
      />

    </div>
    <div class="flex2"><label for="posta">  P.O.Box </label>
    <input
      ngModel
      required
      type="text"
      name="posta"
      id="posta"
 
    /></div>
    <div class="flex1">
      <label for="telephone">  Bilbila mana : </label
        ><input
          ngModel
          required
          type="text"
          name="telephone"
          id="telephone"
          
        />

    </div>
    
    
    
   
    <div class="flex2">

      <label for="mobileNumber"> Mobile </label>
    <input
      ngModel
      required
      type="text"
      id="mobileNumber"
      name="mobileNumber"
      
    />
    </div>

    <div class="flex1">
      <label for="officeTelephone"> Bilbila Waajjira : </label>
      <input
        ngModel
        required
        type="text"
        id="officeTelephone"
        name="officeTelephone"
        
      />

    </div>
  
    <div class="flex2">
      <label for="email">  Email </label>
      <input
        ngModel
        required
        id="email"
        type="text"
        name="email"
        style="width: 250px"
      />
  

    </div>
    <div class="flex1">

      <label for="idNo"> Gosa.waraq.eenyum :</label>
    <input
      ngModel
      required
      type="text"
      name="idNo"
      id="idNo"
 
    />
    </div>
    <div class="flex2"><label for="idRegistrationNumber">
      ID No. /Regis.No
    </label>
    <input
      ngModel
      required
      type="text"
      id="idRegistrationNumber"
      name="idRegistrationNumber"
      style="width: 170px"
    /></div>
  
    <div class="flex"><label for="issuedBy">  Kan kenne : </label>
    <input
      ngModel
      required
      type="text"
      name="issuedBy"
      id="issuedBy"
      style="width: 400px"
    /></div>
    <div class="flex1"><label for="tillNo">Lakk. TIN : </label>
      <input
        ngModel
        required
        type="text"
        name="tillNo"
        id="tillNo"
        
      /></div>
     

    <div class="flex2"><label for="gender"> saalaa : </label>
    <select name="gender" id="gender">
      <option value="male" id="male" name="male" [selected]="true">
        &nbsp;&nbsp;Dhiira
      </option>
      <option value="female">&nbsp;&nbsp;Dubartii</option>
    </select></div>



    <div class="flex1">
      <label for="nationality"> Lammummaa : </label>
    <input
      
      required
      type="text"
      name="nationality"
      id="nationality"
      

  
    />
    </div>

    
    <div class="flex2">
      <label for="occupation">Hojii :</label>
      <input
      
        required
        type="text"
        name="occupation"
        id="occupation"
        style="width: 300px;"
      
      /></div>
    
    <div class="flex1"> <label for="dob">guyyaa dhalootaa :</label>
      <input ngModel required type="date" name="dob" id="dob" /></div>

    <div class="flex2"><label for="oes">guyyaa hundeeffama jaarmiyaa :</label>
    <input
      ngModel
      required
      type="date"
      name="oes"
      id="oes"
 
    /></div>
    

    <div class="flex"><label for="employer">Hojjechiisaa :</label>
      <input
        ngModel
        required
        type="text"
        name="employer"
        id="employer"
        style="width: 400px"
      /></div>

    <div class="flex1"><label for="monthlyIncome">Galii Ji'aa Giddugaleessaa :</label>
    <input
      ngModel
      required
      type="text"
      name="monthlyIncome"
      id="monthlyIncome"
 
    /></div>
    <div class="flex2"><label for="annualIncome"> Galii Wag.Giddugaleessaa :</label>
      <input
        ngModel
        required
        type="text"
        name="annualIncome"
        id="annualIncome"
   
      /></div>

    <div class="flex"><label for="accountType">Gosa Herregaa </label>
      <select id="accountType" name="accountType">
        <option value="saving" id="saving" [selected]="true">&nbsp;&nbsp;Saving</option>
        <option value="saving">&nbsp;&nbsp;Mobile Wallet</option>
        <option value="saving">&nbsp;&nbsp;Cheque</option>
      </select></div>
    <div >
     <br> <br>Mallattoo _______________________&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;_______________________ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;_______________________
    </div>
<!-- additional pages -->



<div class="onFormNumber" *ngFor="let i of formNumberArray" >
<p style="font-size: small;font-weight: bolder;margin-left: 40%;text-decoration: underline;">
  Iyyataa {{i}}ffaa
</p>

<!-- customer photo -->

<div class="photo-container md:w-1/2 m-4" style="float: left;">
<div class="photo-preview">
  <img
    *ngIf="photoURLArray[i]; else noImage"
    [src]="photoURLArray[i]"

  />
  <ng-template #noImage> </ng-template>
</div>
<div class="form-group" *ngIf="!hideFileInput">
  <input
    ngModel
    required
    type="file"
    class="form-control"
    class="noPrint"
    id="photo{{i}}"
    name="photo{{i}}"
    accept="image/*"
    (change)="onFileSelected($event,i)"

    [required]="true"
  />
</div>
</div>

<!--- end of customer photo-->
<div class="flexBox">



<div class="flex"></div><label for="fullName{{i}}">
  Maqaa Guutuu/Maqaa Jaarmiyaa :
</label>
<input
  ngModel
  required
  type="text"
  id="fullName{{i}}"
  name="fullName"
  style="width: 300px"
/><br />

<div class="flex"></div><label for="mother{{i}}">
  Maqaa haadha :
</label>
<input
  ngModel
  required
  type="text"
  id="mother{{i}}"
  name="mother"
  style="width: 300px"
  
/><br />
<div class="flex1">

  <label for="customerNumber{{i}}"> 
Lakk. maamila : </label
    ><input
      ngModel
      required
      type="text"
      id="customerNumber{{i}}"
      name="customerNumber"
      style="width: 140px"
    />
</div>


  <div class="flex1"><label for="region{{i}}"> Naannoo : </label>
    <input ngModel required type="text" name="region" id="region{{i}}"Galii Wag.Giddugaleessaa/></div>
  
<div class="flex1" ><label for="city{{i}}">Magaalaa : </label>
<input ngModel required type="text" name="city" id="city{{i}}"style="" /></div>

<div class="flex1">
  <label for="subCity{{i}}"> Magaalaa xiqqaa :  </label>
<input
  ngModel
  required
  type="text"
  name="subCity"
  id="subCity{{i}}"

/>
</div>
<div class="flex2">
  <label for="kebele{{i}}"> Kebele/Woreda </label>
  <input
    ngModel
    required
    type="text"
    name="kebele"
    id="kebele{{i}}"
    style="width: 140px"
  />

</div>

<div class="flex1">
  <label for="houseNo{{i}}"> Lakk. Mana : </label>
  <input
    ngModel
    required
    type="text"
    name="houseNo"
    id="houseNo{{i}}"

  />

</div>
<div class="flex2"><label for="posta{{i}}">  P.O.Box </label>
<input
  ngModel
  required
  type="text"
  name="posta"
  id="posta{{i}}"

/></div>
<div class="flex1">
  <label for="telephone{{i}}">  Bilbila mana :  </label
    ><input
      ngModel
      required
      type="text"
      name="telephone"
      id="telephone{{i}}"
      
    />

</div>




<div class="flex2">

  <label for="mobileNumber{{i}}"> Mobile </label>
<input
  ngModel
  required
  type="text"
  id="mobileNumber{{i}}"
  name="mobileNumber"
  
/>
</div>

<div class="flex1">
  <label for="officeTelephone{{i}}"> Bilbila Waajjira : </label>
  <input
    ngModel
    required
    type="text"
    id="officeTelephone{{i}}"
    name="officeTelephone"
    
  />

</div>

<div class="flex2">
  <label for="email{{i}}">  Email </label>
  <input
    ngModel
    required
    id="email{{i}}"
    type="text"
    name="email"
    style="width: 250px"
  />


</div><br><br>
<div class="flex1">

  <label for="idNo{{i}}"> Gosa.waraq.eenyum : </label>
<input
  ngModel
  required
  type="text"
  name="idNo"
  id="idNo{{i}}"
  

/>
</div>
<div class="flex2"><label for="idRegistrationNumber{{i}}">
  ID No. /Regis.No
</label>
<input
  ngModel
  required
  type="text"
  id="idRegistrationNumber{{i}}"
  name="idRegistrationNumber"
  style="width: 170px"
/></div>

<div class="flex" ><br><label for="issuedBy{{i}}"> Kan kenne :</label>
<input
  ngModel
  required
  type="text"
  name="issuedBy"
  id="issuedBy{{i}}"
  style="width: 600px"
/></div>
<div class="flex1"><label for="tillNo{{i}}"> Lakk. TIN : </label>
  <input
    ngModel
    required
    type="text"
    name="tillNo"
    id="tillNo{{i}}"
    
  /></div>

<div class="flex2"><label for="gender{{i}}">  saalaa :  </label>
<select name="gender" id="gender{{i}}">
  <option value="male" id="male{{i}}" name="male" [selected]="true">
    &nbsp;&nbsp;Dhiira
  </option>
  <option value="female">&nbsp;&nbsp;Dubartii</option>
</select></div><br>



<div class="flex1">
  <label for="nationality{{i}}"> Lammummaa : </label>
<input
  
  required
  type="text"
  name="nationality"
  id="nationality{{i}}"
  


/>
</div>


<div class="flex2">
  <label for="occupation{{i}}">Hojii :</label>
  <input
  
    required
    type="text"
    name="occupation"
    id="occupation{{i}}"
    style="width: 300px;"
  /></div>

<div class="flex1"> <label for="dob{{i}}">guyyaa dhalootaa :</label>
  <input ngModel required type="date" name="dob" id="dob{{i}}" /></div>

<div class="flex2"><label for="oes{{i}}">guyyaa hundeeffama jaarmiyaa :</label>
<input
  ngModel
  required
  type="date"
  name="oes"
  id="oes{{i}}"

/></div>


<div class="flex"><label for="employer{{i}}"> Hojjechiisaa :</label>
  <input
    ngModel
    required
    type="text"
    name="employer"
    id="employer{{i}}"
    style="width: 400px"
  /></div>

<div class="flex1"><label for="monthlyIncome{{i}}"> Galii Ji'aa Giddugaleessaa : </label>
<input
  ngModel
  required
  type="text"
  name="monthlyIncome"
  id="monthlyIncome{{i}}"
  style="width: 100px;"

/></div>
<div class="flex2"><label for="annualIncome{{i}}"> Galii Wag.Giddugaleessaa : </label>
  <input
    ngModel
    required
    type="text"
    name="annualIncome"
    id="annualIncome{{i}}"
    style="width: 200px;"


  /></div>




</div>


   <div >
    <br>Mallattoo _______________________&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;_______________________ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;_______________________
  </div>   
</div>

    

<!-- endof the page -->




  <div *ngIf="!hideJoint">
      <h4> Ajaja Herrega Kaffaltii</h4>

      <div class="opInstruction">
        <div class="opInstructionBox">
          Mallattoo tokkoon kan socho'u
          <input
            ngModel
            required
            type="checkbox"
            name="Individual"
            id="Individual"
          />
          <div class="opSignature" style="margin-top: 10px;">Mallattoo______________</div>
        </div>
        <div class="opInstructionBox">
          Waliin socho'uu
          <input
            ngModel
            required
            type="checkbox"
            name="Individual"
            id="Individual"
            checked
          />
          <div class="opSignature" style="margin-top: 10px;">Mallattoo_______________</div>
        </div>
        <div class="opInstructionBox">
          Ajaja addaa
          <input
            ngModel
            required
            type="checkbox"
            name="Individual"
            id="Individual"
            
          />
          <div class="opSignature" style="margin-top: 10px;">Mallattoo_______________</div>
        </div>
      </div>
    </div>
  
   


    <div class="card">
      <h4>
        Tajaajila kaffaltii elektirooniksii barbaadde filadhu 
      </h4>


      <div class="E-payments"> 
        <label for="atm">ATM </label> <select name="atm" id="atm">
          <option value="yes"> &nbsp;&nbsp;Eeyyee&nbsp;&nbsp;&nbsp;&nbsp;</option>
          <option value="no"> &nbsp;&nbsp;Lakki&nbsp;&nbsp;&nbsp;&nbsp;</option>
        </select>
    
  
       <label for="internet">Mobile Banking</label> <select name="internet" id="internet">
          <option value="yes">&nbsp;&nbsp;Eeyyee&nbsp;&nbsp;&nbsp;&nbsp;</option>
          <option value="no">&nbsp;&nbsp;Lakki&nbsp;&nbsp;&nbsp;&nbsp;</option>
        </select>

     
       <label for="internet">Internet Banking</label> <select name="internet" id="internet">
          <option value="yes">&nbsp;&nbsp;Eeyyee&nbsp;&nbsp;&nbsp;&nbsp;</option>
          <option value="no">&nbsp;&nbsp;Lakki&nbsp;&nbsp;&nbsp;&nbsp;</option>
        </select>
      </div><br>
      <div class="flex1"><label for="initial">Kuufama Jalqabaa (Dirqama kan hinta'in)</label>
      <input
        ngModel
        required
        type="text"
        name="initial"
        id="initial"
        
      /></div>
      <div class="flex1"><label for="existing"> Herrega Jiru</label>
    

      <select name="existing" id="existing">
        <option value="yes">&nbsp;&nbsp;Eeyyee&nbsp;&nbsp;&nbsp;&nbsp;</option>
        <option value="no">&nbsp;&nbsp;Lakki&nbsp;&nbsp;&nbsp;&nbsp;</option>
      </select>
      
    </div></div>
  </form><br><br>

  
  <div class="signature"><br>
    Maqaa fi mallattoo nama akkaawuntii bane _________________________________________ <br /><br />
    Maqaa fi mallattoo nama labsii mirkaneesse _________________________________________  <br /><br />
    Maqaa fi mallattoo supparvaayizara damee_________________________________________
  </div>
 

</div>


<button class="btn1" *ngIf="!hideFileInput" (click)="onPrint($event)">
  Print
</button>
<div class="cardj" *ngIf="!hideFileInput">

<div class="formNumber" >
  <label for="formNumber" >meeqa</label>
      <input type="number" name="formNumber" id="formNumber" style="width: 50px;"   #formNumber >
    </div>
    <button
      class="btn2"
      type="button"
      
      ngModel
      (click)="onChangeButton(formNumber.value)"
    >
    unka dabaluu
    </button>

</div>


</div>
</div>
</div>


</div>
