<app-english *ngIf="language === 'English'"></app-english>
<app-oromic *ngIf="language === 'Oromic'"></app-oromic>
<app-amharic *ngIf="language === 'Amharic'"></app-amharic>



<div class="selectLanguage" *ngIf="!hideFileInput">
  <label for="language">Language</label>
 <select name="language" id="language" ngModel (change)="onSelect($event)">

  <option value="english" id="english" name="english" [selected]="true">
    &nbsp;&nbsp;English
  </option>
  <option value="Oromic" >  &nbsp;&nbsp;Afaan Oromo</option>

  <option value="Amharic"> &nbsp;&nbsp;Amharic</option>
</select>  
</div>

<div class="selectLanguage" *ngIf="!hideFileInput">

<label for="language"> ጾታ</label>
<select name="language" id="language">
  <option value="English" id="english" name="english" [selected]="true">
    &nbsp;&nbsp;English
  </option>
  <option value="Oromic">&nbsp;&nbsp;Afaan Oromo</option>
  <option value="Amharic">&nbsp;&nbsp;A</option>
</select>
</div>
