.input {
  display: flex;
  margin: 10px;
  
}
.container{
  border-radius: 1px;
  
  margin: 40px;
}

#content{
  margin: 40px;
  font-size: large;
}
.header{
  display: flex;

   
}
.div
{
  border-style:ridge;
}
.title{
  margin-left: 20px;
}
.photo{
  border: 2px;
  border-style: solid;
  margin-left: 550px;
}