input{
  font-size:medium;
  border: none;
margin-bottom: 1px;

font-weight: bolder;
  letter-spacing: 0.5px;


}

#content{
  
  font-size: 14.7px;


  
 
}
.header{
  display: flex;
  margin: 0px;

   
}

.title{
  font-size: 20px;
  text-align: center;
}

/* Increase font size for specific elements */


p {
  font-size: 24px; /* Increase the font size to 14 pixels */
}

/* Increase spacing between elements */



/* Adjust other styles as needed */

.photo{
  position:sticky;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  padding: 10px;
}

.photo img {
  width: 40%;
  height: 2%;
  object-fit: cover;
}
.header{
  display: flex;
  justify-content: space-between;
}
.underline{
  text-align: center;
  text-decoration: underline;
  font-size: 18px;
}
p{
  font-size:smaller;
}
.container{
  display: flex;
  justify-content: center;

  
}

.photo-container {
  width: 150px;
  height: 150px;
}

.photo-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
  padding: 0px;
  height: calc(100% - 16px);
}

.photo-preview img {
  max-width: 100%;
  max-height: 100%;
  width: 110px;
  height: 150px;
}

@media print {
  #photo.hidden {
    display: none;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

