.selectLanguage{
        
    position:fixed;
      left: 5%;
      bottom: 10%;
     
   
    }

    option, select{
      font-weight: bolder;
     
    }
   

    
  @media print {
    #photo.hidden {
      display: none;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
    .selectLanguage{
      visibility: hidden;
      overflow: hidden;
      display: none;
      height: 0;
    }
  }
  

